.AmountPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AmountPage form{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: .8em;
    padding: 2em;
    box-shadow: 0 1px 3px -2px #9098A9;
    width: 20%;
    margin: 3em 0;
}

.AmountPage form > button{
    text-align: center;
    margin: 1em 0;
    padding: 1em;
}

.AmountPage form >h1{
    text-align: center;
    margin-bottom: 1em;
}

.formSelect{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-bottom: 1em;
}

