.AmountPage {
    gap: 5em;
    width: 100%;
}

.AmountPage form {
    gap:6em;
    background-color: #e9e7f6;
    border-radius: .8em;
    height: 60%;
    box-shadow: 0 1px 3px -2px #9098A9;

}

.AmountPage form>h1 {
    font-size: 3em;
}



.formSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-bottom: 1em;
}

.btn-amount {
    border-radius: .4em;
}
.form_submit{
    flex: 1;
}

.btn-amount:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

#qtd {
    width: 15em;
}

#product {
    width: 100%;
}