.AmountPage {
    gap: 10em;
    width: 100%;
}

.AmountForm {
    background-color: #D2E0FF;
    gap: 2em;
    border-radius: .8em;
    height: 60%;
    box-shadow: 0 1px 3px -2px #9098A9;
}

.AmountPage form>h1 {
    font-size: 3em;
}
.btn-amount {
    border-radius: .4em;
}
.form_submit{
    flex: 1;
}

.btn-amount:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}
