.Form-section {
    display: flex;
    flex-direction: column;
    border-bottom: #9098A9 1px solid;
    margin-bottom: 1em;
    margin-bottom: 1em;
    padding: 1em;

}

.Form-section>h3 {
    padding: .7em;
    margin-bottom: .7em;
}

.Form-section> label {
    margin: .7em 0;
}

.purchaseCart {
    background-color: #FFFFFF;
    padding: 1em;
    margin: 2em 0;
    width: 100%;
    border:  #9098A9 1px solid;
    border-radius: .7em;
}

.purchaseCart td {

    text-align: center;
    padding: .5em;
}

#noProducts{
    font-size: 12px;
    text-align: center;
    margin: 2em 0;
    color: red;
}