.initialPage {
  min-height: 100vh;
  min-width: 100%;
  background-color: #1e0fa0;
}

.btn-primary {
  padding: 0.7em 1.2em;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  border: none;
  border-radius: 0.6em;
  background-color: #1e0fa0;
}

.btn-primary:hover {
  background-color: #ffb703;
}

.btn-primary:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}

.loginback {
  min-height: 75vh;
  max-width: 35%;
}

.LoginForm {
  min-width: 75%;
  margin-top: 1em;
  margin-bottom: 3em;
}

.buttons {
  margin-top: 5em;
}
