.initialPage {
  min-height: 100vh;
  min-width: 100%;
  background-color: #1e0fa0;
}

.btn-primary:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: none;
}

.loginback {
  min-height: 75vh;
  max-width: 35%;
}

.LoginForm {
  min-width: 75%;
  margin-top: 1em;
  margin-bottom: 3em;
}

.buttons {
  margin-top: 5em;
}