.ui-button{
    background-color: unset;
    border-radius: 2em;
    color: #ffff;
    text-decoration: none !important;
    background-color: #FBD774;
    padding:1em;
    text-align: center;
    white-space: nowrap;
}

.ui-button:hover{
    opacity: 80%;
    transition: 200ms;
}