.OrderForm{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border-radius: .8em;
    padding: 2em;
    box-shadow: 0 1px 3px -2px #9098A9;
    min-width: 40%;
    margin: 5em 0;
}

.OrderForm h1{
    text-align: center;
    margin-bottom: 1em ;
}