.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: .8em;
    justify-content: center;



}
.form_control label{
    font-weight: bold;
    margin-bottom: 1em;
}
.form_control input {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: .8em;
    border: none;
    max-width: 100%;
    box-shadow: 0 1px 3px -2px #9098A9;
}

.form_control input::placeholder{
    color: #7b7b7b;
}

