select{
    -webkit-appearance: none;
    appearance: unset;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 1px solid #E8EAED;
    border-radius: .7em;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 16px;
    transition: all 150ms ease;


}

.form_control label{
    margin-bottom: 2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: .8em;
    justify-content: center;
}

.form_control select {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: .8em;
    border: none;
    max-width: 100%;
}