.btn{
    background-color: #3100A8;
    padding: 0.7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: .5s;
    border: none;
    border-radius: .8em;
}

.btn:hover{
    background-color:#FBD774;
}