.footer {
    background-color: #3100A8;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 2em;

}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    opacity: 80%;
    transition: 500ms;
}
.social_list svg {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}
p{
    margin-top: 1em;;
}
