@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html{
    height: 100%;
    box-sizing: border-box;
    margin: 0;

}

body {
    font: 400 16px Roboto, sans-serif;
    background: #FFF;
    min-height: 90vh;
    position: relative;
    box-sizing: inherit;
    padding-bottom: 8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

