@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  box-sizing: border-box;

  margin: 0;
}

.App {
  font-family: Roboto, sans-serif;
  display: flex;
}

.display-user {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 5em;
  border-radius: 0 0 1em 1em;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #1E0FA0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


input {
  appearance: unset;
  -webkit-appearance: none;
}

input[type=number] {
  appearance: unset;
  -moz-appearance: textfield;
}

body {
  font: 400 16px Roboto, sans-serif;
  background: #d9d9d9;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inpt:disabled {
  cursor: not-allowed;
}

.btn-global {
  background-color: #1E0FA0;
  cursor: pointer;
  padding: 0.7em 1.2em;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: .4em;

}

.btn-hv:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

input:disabled {
  cursor: not-allowed;
}

#yellow_button {
  background-color: #FFB703;
  color: black;
  font-weight: 700;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#yellow_button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/*
input {    
    padding: 1em;
    cursor: pointer;
    margin-bottom: 1em;
    border-radius: .8em;
    border: none;
    max-width: 100%;
    box-shadow: 0 1px 3px -2px #9098A9;
    
}

label{
    font-weight: bold;
    margin-bottom: 1em;
}

button{
    background-color: #3100A8;
    padding: 0.7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: .5s;
    border: none;
    border-radius: .8em;
}
*/